.metadata/
.metadata/version.ini
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/freertos_a1.1682269115887.pdom
.metadata/.plugins/org.eclipse.cdt.core/freertos_a1_bsp.1682269114480.pdom
.metadata/.plugins/org.eclipse.cdt.make.core/.log
.metadata/.plugins/org.eclipse.cdt.make.core/freertos_a1.sc
.metadata/.plugins/org.eclipse.cdt.make.core/freertos_a1_bsp.sc
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.ui/freertos_a1.build.log
.metadata/.plugins/org.eclipse.cdt.ui/freertos_a1_bsp.build.log
.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1_bsp/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1_bsp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1_bsp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/freertos_a1_bsp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.altera.sbtgui.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-freertos_a1.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-freertos_a1_bsp.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
.metadata/.plugins/org.eclipse.team.cvs.core/.running
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
